---
import Breadcrumbs from "@/components/UI/Breadcrumbs.astro";
import BaseLayout from '@/layouts/BaseLayout.astro';
import DetailPageHeader from "@/components/UI/DetailPageHeader.astro";
import LabeledSection from "@/components/UI/LabeledSection.astro";
import DetailPageLayout from "@/components/Layout/DetailPageLayout.astro";
import PageBottomNav from "@/components/UI/PageBottomNav.astro";

import DetailImageGalleryWithLightbox from "@/components/Lightbox/DetailImageGalleryWithLightbox";
import { getAllWorks, getWorkBySlug, worksPageConfig } from '@/data/works';
import BackgroundSection from '@/components/Layout/BackgroundSection.astro';
import { normalizeSlug } from "@/utils";
import YoutubeVideos from "@/components/UI/YoutubeVideos.astro";
import DetailPagePrevNextNav from "@/components/UI/DetailPagePrevNextNav.astro";


export const getStaticPaths = (async () => {
  const works = await getAllWorks();
    return works.map((work) => ({
      params:{ slug: normalizeSlug(work.slug)}
    }));
});

const { slug } = Astro.params;
const work = await getWorkBySlug(slug);
const allWorks = await getAllWorks();

const currentIndex = allWorks.findIndex((item) => normalizeSlug(item.slug) === slug);
const prevItem = allWorks[currentIndex - 1];
const nextItem = allWorks[currentIndex + 1];

if(!work){
  throw new Error(`Work not found for slug: ${slug}`);
}
---


<BaseLayout>
  <BackgroundSection image={worksPageConfig.backgroundImage} alt={worksPageConfig.backgroundAlt} fixedBackground eager overlayClass="bg-black/50" mobileBlack>
  <DetailPageLayout>
      <Breadcrumbs
      items={[
        {label: 'Works', href: "/works"},
        {label: work.title }
      ]}/>

      <DetailPageHeader
        title={work.title}
        date={work.date}
        category={work.category}
        tags={work.tags}
        description={work.description}
      />

      <DetailImageGalleryWithLightbox
        mainImageUrl={work.thumbnailUrl}
        mainImageLightboxUrl={work.thumbnailLightboxUrl}
        mainImageAlt={work.thumbnailAlt}
        subImages={work.subImage ?? []}
        client:load
      />

      <YoutubeVideos
        videos={work.videos}
      />
      <section class="space-y-10 text-[12px] md:text-base leading-relaxed">
        {work.concept && (
          <LabeledSection
            label="Concept">
              <p class="text-white/80 text-[12px]">{work.concept}</p>
          </LabeledSection>
        )}

        {work.process && (
          <LabeledSection
            label="Process">
              <p class="text-white/80">{work.process}</p>
          </LabeledSection>
        )}

        {work.role && (
          <LabeledSection
            label="ROLE">
              {work.role && work.role.length > 0 && (
                <ul class="text-white/80 list-disc list-inside space-y-1">
                  {work.role.map((r) => <li>{r}</li>)}
                </ul>
              )}
          </LabeledSection>
        )}

        {work.notes && (
          <LabeledSection
            label="NOTES"
          >
            <p class="text-white/80">{work.notes}</p>
          </LabeledSection>
        )}

        {work.credits && (
          <LabeledSection
            label="CREDITS"
          >
          {work.credits && work.credits.length > 0 && (
            <ul class="text-white/80 space-y-1">
              {work.credits.map((c) => <li>{c.label} : {c.value}</li>)}
            </ul>
          )}
          </LabeledSection>
        )}

        {work.links && work.links.length > 0 && (
          <LabeledSection label="Related Links">
            <ul class="text-white/80 space-y-2">
              {work.links.map((link) => (
                <li>
                  <a
                    href={link.url}
                    class="underline underline-offset-2 hover:text-white"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          </LabeledSection>
        )}
      </section>
      <DetailPagePrevNextNav prevItem={prevItem} nextItem={nextItem} basePath="works"/>
      <PageBottomNav
        label="works"
        href="/works"
      />
</DetailPageLayout>
  </BackgroundSection>
</BaseLayout>