---
import { Picture } from 'astro:assets';
import heroBackgroundPoster from '@/assets/images/hero-poster.jpg';
import heroMobileBackgroundPoster from '@/assets/images/hero-poster-mobile.jpg';
import heroProfileImage from '@/assets/images/hero-profile-img.jpg';
import pcHeroBackgroundVideoMp4 from '@/assets/movies/hero-movie-pc-1080.mp4';
import mobileHeroBackgroundVideoMp4 from '@/assets/movies/hero-movie-mobile-720.mp4';
import VideoBackgroundSection from '@/components/Layout/VideoBackgroundSection.astro';
import { displayHeroVideo } from '@/sanity/site-settings';

const heroVideo = await displayHeroVideo();
const heroVideoSrc = heroVideo.videoUrl || pcHeroBackgroundVideoMp4;
const heroMobileVideoSrc = heroVideo.mobileVideoUrl || mobileHeroBackgroundVideoMp4;
const heroVideoPoster = heroVideo.posterUrl || heroBackgroundPoster.src;
const heroMobileVideoPoster = heroVideo.mobilePosterUrl || heroMobileBackgroundPoster.src;
---

<VideoBackgroundSection
  pcVideoPoster={heroVideoPoster}
  mobileVideoPoster={heroMobileVideoPoster}
  pcVideoSrcMp4={heroVideoSrc}
  mobileVideoSrcMp4={heroMobileVideoSrc}
  alt="ヒーロー背景の説明文"
  overlayClass="bg-black/30"
  data-hero-root
>
  <div class="relative z-0 min-h-svh">
    <div
      class="pointer-events-none absolute left-1/2 bottom-6 z-30  max-w-xs -translate-x-1/2 px-4 transform-gpu will-change-transform"
      aria-hidden="true"
    >
  </div>

    <div
    data-hero-profile-content
      class="hero__content layout-offset-top layout-padding-x relative z-20 flex min-h-svh flex-col items-center justify-center max-[400px]:pb-[10px]"
    >
      <div data-hero-profile-wrap class="">
        <Picture
          src={heroProfileImage}
          formats={['avif', 'webp']}
          alt="青空を背景にカメラを手にジャンプする男性写真家のプロフィール画像"
          width={480}
          height={520}
          layout="constrained"
          fit="cover"
          position="center"
          class="mb-10  h-[200px] w-[200px] rounded-xl object-cover md:mb-[60px] md:h-[300px] md:w-[300px]"
        />
      </div>
      <h2
        data-hero-name
        class="hero__name  font-accent mb-4 text-2xl font-bold text-[var(--color-white)] md:mb-6 md:text-5xl lg:text-5xl"
      >
        KOSUKE OKUDE
      </h2>
      <p
        data-hero-title
        class="hero__title font-accent text-sm font-bold text-[var(--color-white)] md:text-2xl lg:text-3xl"
      >
        PHOTOGRAPHER
      </p>
    </div>
  </div>

</VideoBackgroundSection>
