---
import { Picture } from 'astro:assets';
import heroBackgroundPoster from '@/assets/images/hero-poster.jpg';
import heroProfileImage from '@/assets/images/hero-profile-img.jpg';
import pcHeroBackgroundVideoWebm from '@/assets/movies/hero-movie-pc-1080.webm';
import pcHeroBackgroundVideoMp4 from '@/assets/movies/hero-movie-pc-1080.mp4';
import mobileHeroBackgroundVideoWebm from '@/assets/movies/hero-movie-mobile-720.webm';
import mobileHeroBackgroundVideoMp4 from '@/assets/movies/hero-movie-mobile-720.mp4';
import ScreenOverlay from '@/components/UI/ScreenOverlay.astro';
import VideoBackgroundSection from '@/components/Layout/VideoBackgroundSection.astro';
import ScrollLineOnlyVertical from '@/components/UI/ScrollLineOnlyVertical.astro';

// hero-movie-pc-1080.webm	12MB
// hero-movie-pc-1080.mp4	8.1MB
// hero-movie-mobile-720.webm	5.7MB
// hero-movie-mobile-720.mp4	5.0MB

---

<VideoBackgroundSection
  pcVideoPoster={heroBackgroundPoster.src}
  pcVideoSrcWebm={pcHeroBackgroundVideoWebm}
  pcVideoSrcMp4={pcHeroBackgroundVideoMp4}
  mobileVideoSrcWebm={mobileHeroBackgroundVideoWebm}
  mobileVideoSrcMp4={mobileHeroBackgroundVideoMp4}
  alt="ヒーロー背景の説明文"
  data-hero-root
>
  <ScreenOverlay data-hero-overlay/>
  <div class="relative z-0 min-h-svh">
    <div
      class="pointer-events-none absolute left-1/2 bottom-6 z-30  max-w-xs -translate-x-1/2 px-4 transform-gpu will-change-transform"
      aria-hidden="true"
    >
  </div>

    <div
      class="hero__content layout-offset-top layout-padding-x relative z-20 flex min-h-svh flex-col items-center justify-center max-[400px]:pb-[10px]"
    >
      <div data-hero-profile-wrap>
        <Picture
          src={heroProfileImage}
          formats={['avif', 'webp']}
          alt="青空を背景にカメラを手にジャンプする男性写真家のプロフィール画像"
          width={480}
          height={520}
          layout="constrained"
          fit="cover"
          position="center"
          class="mb-10 h-[200px] w-[200px] rounded-xl object-cover md:mb-[60px] md:h-[300px] md:w-[300px]"
        />
      </div>
      <h2
        data-hero-name
        class="hero__name font-accent mb-4 text-2xl font-bold text-[var(--color-white)] md:mb-6 md:text-5xl lg:text-5xl"
      >
        KOSUKE OKUDE
      </h2>
      <p
        data-hero-title
        class="hero__title font-accent text-sm font-bold text-[var(--color-white)] md:text-2xl lg:text-3xl"
      >
        PHOTOGRAPHER
      </p>
    </div>
  </div>

  <ScrollLineOnlyVertical/>
</VideoBackgroundSection>
