---
import type {Work} from '@/data/works';
import {Picture} from 'astro:assets';

interface Props {
  work: Work;
}

const { work } = Astro.props;

const {title, date, slug, tags = [], thumbnail, thumbnailAlt = ''} = work;

---

<article class="flex flex-col flex-shrink-0 w-[240px] 2xl:w-[280px]">
  <a href={`/works/${slug}`} class="block">
  <!-- 上のメタ部分 -->
   <div class="border border-white/20 border-t-2 border-t-white">
    <div class="h-[200px] 2xl:h-[240px] min-h-0 flex flex-col justify-end p-2 bg-black/10 backdrop-blur-md backdrop-saturate-150 shadow-lg">
      <h3 class="text-[var(--color-white)] font-bold text-lg font-accent mb-4">{title}</h3>
      <p class="text-body text-[var(--color-white)] text-sm opacity-80 mb-2">Date - {date}</p>

      {tags.length > 0 && (
        <div class="flex flex-wrap gap-2">
          {tags.map((tag) => (
            <span
              class="text-body rounded-full px-3 py-1 text-[var(--color-white)] text-xs bg-white/20 border border-white/20 shadow-sm"
            >
              {tag}
            </span>
          ))}
        </div>
      )}
    </div>
</div>

  <!-- 下の画像部分 -->
  <div class="w-[240px] h-[270px] flex-shrink-0 overflow-hidden rounded-b-normal bg-gray-800 2xl:w-[280px] 2xl:h-[320px]">
    <Picture
      src={thumbnail}
      width={280}
      height={340}
      formats={['avif', 'webp']}
      alt={thumbnailAlt}
      class="w-[240px] h-[270px] 2xl:w-[280px] 2xl:h-[340px] object-cover"
    />
  </div>
</a>
</article>