---
interface BreadcrumbsItem{
    label: string;
    href?: string;
}

interface BreadcrumbsProps {
    items: BreadcrumbsItem[];
    tone?: "on-dark" | "on-light";
}

const { items, tone = "on-dark" } = Astro.props as BreadcrumbsProps;

const styles = {
    "on-dark" : {
        nav: "text-[8px] md:text-sm text-white/60",
        link: "hover:text-white transition-colors",
        current: "text-white"
    },
    "on-light" : {
        nav: "text-[8px] md:text-sm text-black/60",
        link: "hover:text-black transition-colors",
        current: "text-black"
    }
}[tone]
---

<!-- パンくず -->
<nav data-reveal-once class={styles.nav}>
    <ol class="flex items-center gap-1 md:gap-2">
        <li>
            <a href="/" class={styles.link}>Home</a>
        </li>
        {items.map((item, index) => {
            const isLast = index === items.length - 1;
            return(
                <>
                    <li class="mx-1">/</li>
                    <li class={isLast ? styles.current : ''}>
                        {
                            isLast ? (
                                <span>{item.label}</span>
                            ) : (
                                <a href={item.href ?? '#'} class={styles.link}>{item.label}</a>
                            )
                        }
                    </li>
                </>
            )
        })}
    </ol>
</nav>
